.main {
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;
  margin-bottom: 12px;
}
.subMenu_separator {
  width: 1px;
  height: 12px;
  background-color: black;
  margin: 0 8px;
  display: inline-block;
  content: '';
  position: relative;
}
.main > li {
  display: none;
}
.subMenu_item {
  display:  block !important;
}
.subMenu_item:hover {
  text-decoration: underline;
}