.main {
  width: 100%;
}
.carouselContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  user-select: none;
}
.moveBtn {
  position:absolute;
  top: 45%;
  border-radius: 9999px;
  z-index: 10;
}
.moveBtn:hover {
  cursor: pointer;
}
.left {
  left: 4px;
}
.right {
  right: 4px;
}
.carouselItems {
  display: flex;
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}
.carouselItem {
  display: flex;
  flex: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.carouselTextContainer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 0, 0, 0.3));
  padding: 0 24px;
}
.carouselText {
  margin: 0;
  color: white;
}
.carouselImage {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit:cover
}
.monthlyCatBadge{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  background-color: white;
  font-size: 10px;
  border-radius: 20px;
  width: 70px;
  height: 24px;
  margin-bottom: 8px;
}
.monthlyCatText {
  margin-bottom: 12px;
}