.headerContainer {
  display: flex;
  padding: 12px;
  align-items: center;
}
.headerWrapper {
  display: flex;
}
.headerProfileLink {
  display: flex;
  margin-right: 8px;
  font-size: 14px;
}
.writer_info_wrapper {
  display: flex;
  align-items: center;
}
.writerThumnailImg {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background-color: black;
}