.catProfilePageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.catProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 440px;
}