.hashtag_li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  border-radius: 16px;
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 4px;
  user-select: none;
}
.hashtag_content {
  margin-right: 4px;
}
.delete_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.delete_img {
  width: 16px;
  height: 16px;
  color: #fff;
}