.main_wrapper {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.menu1 {
  display: flex;
  justify-content: space-between;
}
.menu_btns {
  display: flex;
}
.menu_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  padding: 0;
}
.menu_right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_icon {
  stroke-width: 0.8px !important;
}
.created_span {
  font-size: 12px;
  margin-right: 8px;
}
