.uploadLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor:pointer
}
.imageInput {
  width: 0;
}
.profileThumnailImg {
  border-radius: 12px;
  width: 100%;
  height: 100%;
}
