.navigationContainer {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 44px;
  z-index: 10;
  padding: 0 24px;
  background-color: transparent;
}
.scrolled {
  background-color: rgba(255,255,255,0.8);
}
.logo_wrapper {
  margin-right: 8px;
}
.logoLink {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
}
.logoLink > span {
  font-weight: bold;
  font-size: 16px;
  user-select: none;
}
.logoImg {
  width: 40px;
  height: 30px;
}
.nav {
  display: none;
}
.nav_ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_link {
  padding: 12px 24px;
}
.nav_clicked {
  font-weight: bold;
  font-size: 16px;
}
.util_ul {
  margin-left: auto;
}
.util_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
}
.util_button.util_scrolled {
  background-color: #333;
  color: #fff;
}
.hidden {
  display: none;
}
@media (min-width:1001px) {
  .navigationContainer {
    background-color: white;
    height: 64px;
    color:black;
  }
  .nav {
    display: block;
  }
  .util_button {
    color: white;
    background-color: #333;
    height: 32px;
    width: 80px;
  }
}