.swiperContainer {
  width: 100%;
  margin-bottom: 12px;
}
.swiper{
  width:100%;
  height: 100%;
}
.slideItem {
  position: relative;
  width: 100%;
  height: 340px;
  background-color: black;
}
.slideImg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  object-fit:cover
}

@media (min-width:600px) {
  .swiperContainer {
    width: 0;
    flex: 2 0 auto;
    height: 100%;
  }
  .slideItem {
    height: 100%;
  }
  .slideImg {
    top: 50%;
    left: 0;
  }
}