.social_login_btn {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  margin:0 8px;
}
.kakao {
  background-color: #FDDC3F;
}
.google {
  background-color: white;
  border: 1px solid #66666652;
}
.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.kakao_logo {
  font-size: 24px;
  color: #333333;
}
.google_logo {
  font-size: 24px;
}