.main_wrapper {
  display: flex;
  padding: 4px 8px;
}
.profile_img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: black;
  margin-right: 8px;
}
.commentForm {
  flex-direction: row;
}
.comment_input {
  width: 100%;
  border: none;
  padding: 4px;
  margin-right: 4px;
}
.commentSubmitBtn {
  white-space: nowrap;
  background-color: #000000;
  color:#ccc;
  padding: 4px;
  font-size: 12px;
}
