.postContentContainer {
  display: none;
  margin-bottom: 8px;
}
.postContent {
  margin-bottom: 8px;
}
.hashtagList {
  margin-bottom: 8px;
}
.hashtag {
  margin-right: 4px;
}

@media (min-width:736px) {
  .postContentContainer {
    display: block;
    flex: 1 1 auto;
    overflow-y: scroll;
  }
}
